.content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(50, 194, 52);
    outline: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: lightgray;
}

.button{
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.button button{
    border-radius: 5px;
    background-color: rgb(52, 42, 42);
    color: green;
}
.computer{
    display: flex;
    justify-content: center;
    color: white;
}
body{
    background-color: black;
}
.vs-screen{
    display: flex;
}
.vs-screen span{
    display: flex;
    color: black;
    border: black solid 25px;
}
.playerrock,  .playerscissors, .playerpaper{
    display: none;
}
.computerrock,  .computerpaper, .computerscissors , .vsimg {
    display: none;
}
.victory-screen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.victory-screen button{
    border-radius: 5px;
    background-color: black;
    color: green;
}
.youwin{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.defeat-screen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.defeat-screen button{
    border-radius: 5px;
    background-color: black;
    color: green;
}