.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.button button{
    border-radius: 5px;
    background-color: black;
    color: green;
}
.computer{
    display: flex;
    justify-content: center;
}